.test2 {
    color: yellow;
    background-color: blue;
}

.test{
    color: red;
    background-color: black;
}

.nav{ 
    color: aqua;
    background-color: rgb(68, 16, 212);
}

.footer{
    color: blue;
    background-color: red;
}